body {
    margin-top:  30px;
    font-family: 'Open Sans', sans-serif;
    /* background-repeat: no-repeat;
    background-size: cover; */
}
body {
    margin: 20px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}
.page-content {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100%;
}

.form-v2-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    max-width: 900px;
}

.form-left {
    flex: 1;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-left img {
    max-width: 100%;
    max-height: 100%;
    height: auto; /* Add this to maintain image aspect ratio */
}

.form-right {
    flex: 1;
    padding: 25px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* CSS Styles for Error Messages */
.error {
    color: red;
    font-size: 14px;
}
